
/* Default decoration reset */

* {margin: 0; padding: 0;}
a {text-decoration: none;}
li {list-style: none;}



/* Fonts  */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.card-label {
  font-weight: 900;
  text-transform: uppercase;
}

.card-sublalel {
  font-size: 13px;
  text-transform: uppercase;
}

.section-label {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-subtext {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}



/* Subclasses */

.bluemask {
  background-color: #0d0733;
  color: #ffffff;
}

.transparent {
  opacity: 0.15;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.background-image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.15;
}

.button {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #00e0d0;
  display: inline-block;
  border: 1px solid #00e0d0;
  padding: 8px 15px;
  border-radius: 1px;
}

.slider {
  margin: 0 90px;
  text-align: center;
  position: relative;
}



/* Main-screen */

.main-screen {
  height: 100vh;
}



/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.header__nav {
  z-index: 10;
}

.header__logo {
  display: flex;
  align-items: center;
  z-index: 10;
}

.header__logo__image {
  margin: 0 10px;
}

.header__logo__company-name {
  font-weight: 100;
  font-size: 30px;
  background: linear-gradient(0, #00e0d0, #4aa3cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #00e0d0;
}

.header__nav__link {
  font-weight: 900;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 10px;
  transition: 0.3s;
}

.header__nav__link:hover {
  color: #00e0d0;
}



/* Slider 1 */

.slider-1 {
  height: 535px;
}

.slider-1 h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 32px;
  text-transform: capitalize;
}

.slider-1 h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  margin: 19px auto 28px auto;
  background-color: #00e0d0;
}

.slider-1 p {
  margin-bottom: 50px;
  line-height: 25px;
}

.slider-1 .slider__markers {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider-1 .slider__marker {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #bab9bc;
  margin: 0 2.5px;
  cursor: pointer;
  transition: 0.5s;
}

.slider-1 .slider__marker.active {
  border: 1px solid #00e0d0;
  background-color: #00e0d0;
}

.slider-1 .slider__item {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 153px;
  transition: 0.5s;
}

.slider-1 .slider__item.active {
  visibility: visible;
  opacity: 1;
}



/* About */

.about__grid {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding: 62px 0;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo img {
  margin-right: 3.75%;
}

.about__text {
  margin: 0 10px;
}

.about__text .section-label {
  color: #413d4b;
  padding-bottom: 3px;
}

.about__text p {
  color: #817f86;
  line-height: 23px;
  padding: 13.5px 0;
}

.about__text .button {
  margin-top: 16px;
}

.about__video {
  text-align: center;
}

.about__video__play-button {
  width: 100px;
  height: 100px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
  }

.about__video__invite {
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 199px;
}



/* Expertise */

.expertise {
  text-align: center;
}

.expertise .section-label {
  color: #413d4b;
  padding-top: 62px;
  padding-bottom: 7px;
}

.expertise .section-subtext {
  color: #78777b;
}

.expertise .section-subtext::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #c6c4c9;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.expertise__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 21px;
}

.expertise__card__icon {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expertise__card {
  margin-left: 25px;
  margin-right: 25px;
}

.expertise__card .card-label {
  color: #413d4b;
}

.expertise__card p {
  color: #7a7a7a;
  line-height: 22px;
  margin-top: 17px;
  margin-bottom: 76px;
}



/* Team */

.team {
  text-align: center;
}

.team .section-label {
  padding-top: 63px;
  padding-bottom: 7px;
}

.team .section-subtext {
  color: #f9f9f9;
}

.team .section-subtext::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #655c80;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47px;
}

.team__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 68px;
}

.team__card {
  margin-right: 10px;
  margin-left: 10px;
}

.team__card__photo {
  width: 100%;
  padding-bottom: 100%;
  background-color: #f5f4f7;
}

.team__card__text {
  border: 1px solid #837e97;
}

.team__card .card-label {
  padding-top: 16px;
  padding-bottom: 5px;
}

.team__card .card-sublabel {
  color: #bbbac3;
  padding-bottom: 24px;
}

.team__invite {
  color: #f3f3f3;
  margin-bottom: 25px;
}

.team .button {
  margin-bottom: 69px;
}



/* Works */

.works {
  text-align: center;
}

.works__header {
  padding: 62px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #413d4b;
}

.works__header__link {
  display: flex;
  align-items: center;
}

.works__header__link img {
  padding-left: 10px;
}

.works__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 200px;
}

.works__grid-item {
  width: 100%;
  height: 100%;
}

.works__grid-item-1 {background-color: #b6b6b6;}
.works__grid-item-2 {background-color: #acacac;}
.works__grid-item-3 {background-color: #a1a1a1;}
.works__grid-item-4 {background-color: #8a8a8a;}
.works__grid-item-5 {background-color: #b6b6b6;}
.works__grid-item-6 {background-color: #a4a4a4;}
.works__grid-item-7 {background-color: #a4a4a4;}
.works__grid-item-8 {background-color: #b6b6b6;}
.works__grid-item-9 {background-color: #8a8a8a;}
.works__grid-item-10 {background-color: #a1a1a1;}
.works__grid-item-11 {background-color: #acacac;}
.works__grid-item-12 {background-color: #b6b6b6;}

.works .button {
  margin-top: 70px;
  margin-bottom: 70px;
}



/* People-talk */

.people-talk .slider {
  position: relative;
  height: 500px;
}

.people-talk .slider .quotes {
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  position: absolute;
  top: 62px;
  right: 0;
  left: 0;
}

.people-talk .slider__markers {
  position: absolute;
  bottom: 70px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 59px 59px 84px 59px 59px auto;
  grid-auto-rows: 70px;
  grid-template-areas: "back first second wide third fourth forward";
}

.people-talk .slider__marker.first {
  grid-area: first;
}
.people-talk .slider__marker.second {
  grid-area: second;
}
.people-talk .slider__marker.third {
  grid-area: third;
}
.people-talk .slider__marker.fourth {
  grid-area: fourth;
}
.people-talk .slider__marker.active {
  grid-area: wide;
}
.people-talk .slider__back {
  grid-area: back;
  margin: auto 25px auto auto;
}
.people-talk .slider__forward {
  grid-area: forward;
  margin: auto auto auto 25px;
}

.people-talk .slider__arrow {
  width: 10px;
  height: 21px;
}

.people-talk .slider__marker {
  width: 45px;
  height: 45px;
  margin: 12.5px 7px;
}

.people-talk .slider__marker.active {
  width: 70px;
  height: 70px;
  margin: 0 7px;
}

.people-talk .slider__marker img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
