/* Global */
* {margin: 0; padding: 0;}

body {
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  width: 76%;
  margin: 0 auto;
}


/* Header */
.header {
  background-color: black;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header__bar {
  height: 100%;
  margin-left: 12%;
  margin-right: 8.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -1px;
  transition: 0.5s;
  z-index: 10;
}

.header__logo:hover {
  color: #fcac45;
}

.header__nav {
  display: flex;
  transition: 0.5s;
}

.header__link {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin-left: 30px;
  position: relative;
}

.header__link:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: #fcac45;
  opacity: 0;
  transition: 0.15s;
}

.header__link:hover:after {
  opacity: 1.0;
}

@media screen and (max-width: 1024px) {
  .header {
    height: 75px;
  }

  .header__burger-icon {
    width: 35px;
    height: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
  }

  .header__burger-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: 0.2s;
  }

  .header__burger-icon.active span {
    background-color: #fcac45;
    height: 0;
  }

  .header__burger-icon span:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 0;
    transition: 0.5s;
  }

  .header__burger-icon.active span:after {
    background-color: #fcac45;
    transform: rotate(-45deg);
    top: 12px;
  }

  .header__burger-icon span:before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: 0;
    transition: 0.5s;
  }

  .header__burger-icon.active span:before {
    background-color: #fcac45;
    transform: rotate(45deg);
    bottom: 10px;
  }

  .header__nav {
    position: absolute;
    top: -450px;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .header__nav.active {
    top: 30px;
  }

  .header__link {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 60px;
  }

  .header__nav {
    padding-bottom: 70px;
  }
  .header__nav.active {
    top: 0px;
  }
}


/* Welcome section*/
section.welcome {
    background: #000;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 418px;
}

section.welcome h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 44px;
  font-weight: lighter;
  color: #999999;
  margin-bottom: 2px;
}

section.welcome h1 span {
  color: #fcac45;
  font-weight: bold;
}

section.welcome p {
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
}

section.welcome p span {
  font-weight: bold;
}


/* About section */
section.about .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 0 95px 0;
}

section.about .wrapper .about_left {
  max-width: 44.7%;
}

section.about .wrapper .about_left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

section.about .wrapper .about_right {
  max-width: 44.7%;
}

section.about .wrapper .about_right h2 {
  display: inline-block;
  text-transform: uppercase;
  color: #333333;
  font-size: 34px;
  font-weight: lighter;
}

section.about .wrapper .about_right h2 span {
  color: #333333;
  font-weight: bold;
}


section.about .wrapper .about_right h2::after {
  content: "";
  display: block;
  background-color: #fcac45;
  width: auto;
  height: 4px;
  margin-top: 11px;
}

section.about .wrapper .about_right p {
  margin-top: 26px;
  color: #666666;
  font-size: 18px;
}

section.about .wrapper .about_right ul {
  margin-top: 39px;
  color: #666666;
  font-size: 16px;
  font-style: italic;
}

section.about .wrapper .about_right ul li {
  background: url("images/mark.png") 0px no-repeat;
  padding-left: 25px;
  margin-top: 10px;
}

section.about .wrapper .about_right ul li span {
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
}


/* Team section */
section.team {
  background-color: #000;
}

section.team .wrapper h2 {
  padding-top: 84px;
  text-transform: uppercase;
  color: #fff;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
}

section.team .wrapper h2::after {
  content: "";
  display: block;
  background-color: #fcac45;
  width: 100px;
  height: 4px;
  margin: 17px auto 107px auto;
}

section.team .wrapper .cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 187px;
  align-items: center;
}

section.team .wrapper .cards .card {
  max-width: 23%;
}

section.team .wrapper .cards .card .photo{
  display: inline-block;
  background: #d7d7d7;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: 0.5s;
}

section.team .wrapper .cards .card:hover .photo{
  width: 150px;
  height: 150px;
}

section.team .wrapper .cards .card .name {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1px;
  transition: 0.5s;
}

section.team .wrapper .cards .card:hover .name {
  color: #fcac45;
}

section.team .wrapper .cards .card .position {
  color: #fff;
  font-size: 15px;
  font-weight: lighter;
  margin-bottom: 31px;
  transition: 0.5s;
}

section.team .wrapper .cards .card:hover .position {
  color: #fcac45;
}

section.team .wrapper .cards .card .quote {
  color: #fff;
  font-size: 14px;
  font-weight: lighter;
}


/* Services section */
section.services .wrapper h2 {
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  font-size: 44px;
  padding-top: 84px;
  font-weight: bold;
}

section.services .wrapper h2::after {
  content: "";
  display: block;
  background-color: #fcac45;
  width: 100px;
  height: 4px;
  margin: 17px auto 59px auto;
}

section.services .wrapper p {
  color: #666666;
  font-size: 16px;
  text-align: center;
  font-style: italic;
  margin-bottom: 101px;
}

section.services .wrapper .cards {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 96px;
}

section.services .wrapper .cards .card .icon {
  display: inline-block;
  background-image: url('images/screen.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 4px solid #fcac45;
  margin-bottom: 16px;
  transition: 0.5s;
}

section.services .wrapper .cards .card:hover .icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #ff9900;
  margin-bottom: 16px;
}

section.services .wrapper .cards .card #screenicon {
  background-image: url('images/icons/screen.svg');
}

section.services .wrapper .cards .card #phoneicon {
  background-image: url('images/icons/phone.svg');
}

section.services .wrapper .cards .card #cameraicon {
  background-image: url('images/icons/camera.svg');
}

section.services .wrapper .cards .card #hornicon {
  background-image: url('images/icons/horn.svg');
}

section.services .wrapper .cards .card .activity {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 10px;
  transition: 0.5s;
}

section.services .wrapper .cards .card:hover .activity {
  color: #000000;
  margin-bottom: 10px;
  cursor: pointer;
}

section.services .wrapper .cards .card .description {
  font-size: 14px;
  font-weight: lighter
  color: #333333;
  font-style: normal;
  margin-bottom: 0;
  transition: 0.5s;
}

section.services .wrapper .cards .card:hover .description {
  color: #000000;
}


/* Clients section */
section.clients {
  background-color: #000;
}

section.clients .wrapper h2 {
  padding-top: 85px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 44px;
  text-align: center;
}

section.clients .wrapper h2 span {
  font-weight: bold;
}

section.clients .wrapper h2::after {
  content: "";
  display: block;
  background-color: #fcac45;
  width: 100px;
  height: 4px;
  margin: 17px auto 107px auto;
}

section.clients .wrapper .box {
  margin: 0 5.7%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 210px;
}

section.clients .wrapper .box img {
  max-width: 14.5%;
  display: block;
}

section.clients .wrapper .box img:hover {
  opacity: 0.7;
}

/* Works section */
section.works .wrapper h2 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 44px;
  padding-top: 85px;
  text-align: center;
  color: #333333;
}

section.works .wrapper h2 span {
  font-weight: bold;
}

section.works .wrapper h2::after {
  content: "";
  display: block;
  background-color: #fcac45;
  width: 100px;
  height: 4px;
  margin: 17px auto 52px auto;
}

section.works .wrapper p {
  color: #666666;
  text-align: center;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 172px;
}

section.works .wrapper .cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 25px;
  margin-bottom: 100px;
}

section.works .wrapper .cards .card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.5s;
}

section.works .wrapper .cards .card:hover img {
  opacity: 0.7;
  cursor: pointer;
}


/* Testimonials section */
section.testimonials {
  background: #000;
}

section.testimonials .wrapper h2 {
  text-transform: uppercase;
  font-size: 44px;
  color: #fff;
  padding-top: 85px;
  text-align: center;
}

section.testimonials .wrapper h2 span {
  font-weight: lighter;
}

section.testimonials .wrapper h2::after {
  content: "";
  display: block;
  background-color: #fcac45;
  width: 100px;
  height: 4px;
  margin: 17px auto 113px auto;
}

section.testimonials .wrapper .testimonial .text {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-bottom: 41px;
}

section.testimonials .wrapper .testimonial .autor {
  font-size: 18px;
  color: #999999;
  text-align: center;
  padding-bottom: 170px;
}

section.testimonials .wrapper .testimonial .autor span {
  font-weight: bold;
}


/* Contact section */
section.contact .wrapper {
  width: 50%;
  margin: 0 auto;
}

section.contact .wrapper h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 44px;
  color: #333333;
  padding-top: 84px;
}

section.contact .wrapper h2::after {
  content: "";
  display: block;
  background-color: #fcac45;
  width: 100px;
  height: 4px;
  margin: 17px auto 52px auto;
}

section.contact .wrapper p {
  font-size: 16px;
  font-style: italic;
  color: #666666;
  text-align: center;
  margin-bottom: 90px;
}

section.contact .wrapper .contact-form .name-email-part {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

section.contact .wrapper .contact-form .name-part {
  display: block;
  width: 48%;
}

section.contact .wrapper .contact-form .email-part {
  display: block;
  width: 48%;
}

section.contact .wrapper .contact-form input {
  display: block;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #999999;
  padding-top: 10px;
  padding-bottom: 6px;
  font-size: 14px;
}

section.contact .wrapper .contact-form label {
  display: block;
  color: #666666;
  font-size: 14px;
  margin-bottom: 6px;
}

section.contact .wrapper .contact-form textarea {
  display: block;
  width: 100%;
  height: 165px;
  box-sizing: border-box;
  resize: none;
  border: 1px solid #999999;
  padding: 10px;
  font-size: 14px;
}

section.contact .wrapper .contact-form label.required::after {
    color: red;
    content: " *";
}

section.contact .wrapper .contact-form #submit-btn {
  margin-top: 30px;
  width: 165px;
  height: 40px;
  background-color: #fcac45;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  float: right;
  transition: 0.5s;
}

section.contact .wrapper .contact-form #submit-btn:hover {
  cursor: pointer;
  color: #000;
  border: 1px solid #000;
}

section.contact .wrapper .contact-form {
  margin-bottom: 170px;
}


/* Footer */
footer {
  background: #333333;

}

footer .wrapper .footer-icons {
  padding: 30px 0;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

footer .wrapper .footer-icons img {
  transition: 0.2s;
}

footer .wrapper .footer-icons img:hover {
  opacity: 0.7;
  cursor: pointer;
}






/* Adaptive */
@media screen and (max-width: 1080px) {
  /*!* Header *!*/
  /*header nav a {*/
  /*  display: none;*/
  /*}*/

  /*header nav a.icon {*/
  /*  display: inline;*/
  /*  font-size: 20px;*/
  /*  padding-bottom: 3px;*/
  /*}*/

  /*header.responsive {*/
  /*  display: block;*/
  /*  width: 100%;*/
  /*  position: relative;*/
  /*}*/

  /*header.responsive nav {*/
  /*  margin-top: 20px;*/
  /*  margin-left: 12%;*/
  /*}*/

  /*header.responsive nav a {*/
  /*  margin-left: 0;*/
  /*  float: none;*/
  /*  display: block;*/
  /*  text-align: left;*/
  /*}*/

  /*header.responsive nav a.icon {*/
  /*  position: absolute;*/
  /*  right: 8.7%;*/
  /*  top: 53px;*/
  /*}*/


  /* About */
  section.about .wrapper {
    flex-direction: column-reverse;
  }

  section.about .wrapper .about_left {
    max-width: 80%;
    padding-top: 70px;
  }

  section.about .wrapper .about_right {
    max-width: 100%;
    text-align: center;
  }

  section.about .wrapper .about_right h2 {
    display: block;
    font-size: 44px;
  }

  section.about .wrapper .about_right h2::after {
    width: 100px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  section.about .wrapper .about_right p {
    margin-top: 98px;
    font-style: italic;
  }

  section.about .wrapper .about_right ul {
    font-size: 18px;
    display: inline-block;
    padding-left: auto;
    padding-right: auto;
    text-align: left;
  }


  /* Team section*/
  section.team .wrapper .cards {
    flex-direction: column;
    padding-bottom: 127px;
  }

  section.team .wrapper .cards .card {
    max-width: 100%;
    margin-bottom: 60px;
  }

  section.team .wrapper .cards .card .photo{
    display: inline-block;
    background: #d7d7d7;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 16px;
  }

  section.team .wrapper .cards .card:hover .photo{
    width: 200px;
    height: 200px;
  }


  /* Services section */
  section.services .wrapper .cards {
    grid-template-columns: 46% 46%;
    justify-content: center;
    grid-row-gap: 40px;
    grid-column-gap: 25px;
  }


  /* Clients */
  section.clients .wrapper .box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 190px;
  }

  section.clients .wrapper .box img {
    max-width: 40%;
    margin-bottom: 20px;
  }


  /* Works */
  section.works .wrapper .cards {
    grid-template-columns: auto auto auto;
  }

  section.works .wrapper .cards .card {
    display: none;
  }

  section.works .wrapper .cards #firstcard {
    display: inline-block;
  }


  /* Contact */
  section.contact .wrapper {
    width: 76%;
  }

  section.contact .wrapper .contact-form .name-email-part {
    display: block;
    margin-bottom: 0;
  }

  section.contact .wrapper .contact-form .name-part {
    width: 100%;
    margin-bottom: 30px;
  }

  section.contact .wrapper .contact-form .email-part {
    width: 100%;
    margin-bottom: 30px;
  }
}
