* {margin: 0; padding: 0;}
body {font-family: 'Montserrat', sans-serif;}
a {text-decoration: none;}
li {list-style: none;}


h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
}

.wrapper {
    width: 70%;
}

.button {
    font-weight: 900;
    width: 195px;
    height: 36px;
    border-radius: 5px;
    border: solid 2px black;
    transform: skew(35deg);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.button-text {
    transform: skew(-35deg);
    text-transform: uppercase;
}

.header {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    height: 90px;
    background: #0c0c0c url(images/bg-line.png) repeat;
    z-index: 1000;
}

.header__bar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-family: 'Satisfy', cursive;
    height: 100%;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 18px;
}

.header__logo span {
    text-align: center;
    color: white;
    font-size: 40px;
}

.header__logo span:last-child {
    font-size: 25px;
    padding-right: 15px;
}

.header__nav {
    width: 50%;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s;
}

.header__link.active {
    color: #f8e530;
}

.header__link:hover {
    color: #f8e530;
}

.header__burger-icon {
    width: 35px;
    height: 35px;
    filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(242deg) brightness(95%) contrast(103%);
    cursor: pointer;
}


.main-slider {
    margin-top: 90px;
    height: calc(100vh - 90px);
    background-color: #f8e530;
    background-image: url("images/world-map.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-slider .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-slider__image {
    width: 40%;
    position: relative;
}

.main-slider__image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main-slider__text {
    width: 53%;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-slider__text h1 {
    font-weight: 900;
    font-size: 70px;
    line-height: 51px;
    margin-bottom: 30px;
}

.main-slider__text p {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 30px;
}

.main-slider__text .button {
    color: white;
    background-color: black;
}

.main-slider__text .button:hover {
    color: black;
    background-color: #f8e530;
    border: solid 2px black;
}

.main-slider .slider-markers {
    display: flex;
    margin-top: 90px;
}

.main-slider .marker {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    margin: 0 7px;
}


.introduction-section {
    background: #0c0c0c url(images/bg-line.png) repeat;
    position: relative;
}

.introduction-section:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: #242424 url(images/bg-line.png) repeat;
}

.introduction-section .wrapper {
    padding-top: 90px;
    padding-bottom: 70px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.introduction-section h2 {
    color: white;
    margin-bottom: 30px;
}

.introduction-section h2 span {
    color: #f8e530;
}

.introduction-section p {
    z-index: 100;
    color: #a6a6a6;
    font-weight: 400;
    font-size: 15px;
}

.introduction-section .cards {
    z-index: 100;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.introduction-section .card {
    width: 220px;
}

.introduction-section .card .picture {
    width: 200px;
    height: 200px;
    background-color: #f8e530;
    border: solid white 10px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.introduction-section .card h3 {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 25px;
}

.introduction-section .card p {
    color: #a6a6a6;
    font-size: 15px;
    line-height: 17px;
}

.introduction-section .button {
    z-index: 100;
    background-color: #f8e530;
    border-color: #f8e530;
}

.introduction-section .button-text {
    color: black;
}

.introduction-section .button:hover {
    background-color: black;
}

.introduction-section .button:hover .button-text {
    color: #f8e530;
}


.works-section {
    background-color: #f8e530;
}

.works-section .wrapper {
    padding-top: 90px;
    padding-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.works-section h2 {
    margin-bottom: 30px;
}

.works-section p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 50px;
}

.works-section__work-tiles {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-bottom: 30px;
}

.works-section__work-tile img {
    width: 100%;
    height: 100%;
}

.works-section .button {
    background-color: black;
    margin: 0 auto;
}

.works-section .button-text {
    color: white;
}

.works-section .button:hover {
    background-color: #f8e530;
}

.works-section .button:hover .button-text {
    color: black;
}


.partners-section {
    background-color: black;
}

.partners-section .wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
}

.partners-section img {
    width: 100%;
}